
<section class="welcome container">
<div class="form-group col-md-12"> 
    <br><h2>Welcome to Online Eyesight Tests </h2>
    <p3> Test your visual acuity from the comfort of your couch or office chair with our online eye test. This test could help give you an indication of whether if you suffer from myopia (short-sightedness), hyperopia (farsightedness) or other eyesight problems that may require corrective glasses or lenses.</p3><br></br> 
    <p3> Please <a href="<%= signin_path %>">Login </a> or <a href="<%= new_user_path %>">Sign Up</a></p3><br></br>
</div>
</section>







   